* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #28a745;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
}
.box {
  width: 250px;
  height: 100px;

  background-color: #12de55;
}
